# Learning Python

# What are the different types of Data types

In [95]:
x = 0.6789
print("data type of X", type(x))
print("Printed data", x)
y = 12
print("data type of Y", type(y))
print("Printed data", y)
str = 'This is my first Python coding'
print("data type of String", type(str))
print("Printed data", str)
boo = True
print("data type of Boo", type(boo))
print("Printed data", boo)
arr = [10,12,13]
print("data type of arr", type(arr))
print("Printed data", arr)
tuples = [{10,'first'},{12,'second'}]
print("data type of tuples", type(tuples))
print("Printed data", tuples)
z = 0
comp = z+3j
print("data type of comp", type(comp))
print("Printed data", comp)
deff = {'x':12,'y':23.56}
print("data type of def", type(deff))
print("Printed data", deff)
setts = {'x','y','z','z','a'}
print("data type of def", type(setts))
print("Printed data", setts)

data type of X <class 'float'>
Printed data 0.6789
data type of Y <class 'int'>
Printed data 12
data type of String <class 'str'>
Printed data This is my first Python coding
data type of Boo <class 'bool'>
Printed data True
data type of arr <class 'list'>
Printed data [10, 12, 13]
data type of tuples <class 'list'>
Printed data [{10, 'first'}, {'second', 12}]
data type of comp <class 'complex'>
Printed data 3j
data type of def <class 'dict'>
Printed data {'x': 12, 'y': 23.56}
data type of def <class 'set'>
Printed data {'a', 'z', 'x', 'y'}

## data type of def <class 'set'>
### Printed data {'a', 'z', 'x', 'y'}

#####            In set it follows the first come last out approch
#####            Set is similar to the dictonary to but set doesnt have the key value pair but dictonary has the key value pair.

## data type of def <class 'dict'>
### Printed data {'x': 12, 'y': 23.56}

#####            In Dictonary it follows the first come first out approch.

# String Vs Array

# Positive Indexing 0 to all positive index

In [124]:
strs = 'Python'
print(strs[0])
arrs = ['Python','c++','JS']
print(arrs[0])

P
Python

# Negative indexing -1 to all negative index

In [131]:
strs = 'Python'
print(strs[-1])
arrs = ['Python','c++','JS']
print(arrs[-1])

n
JS

# For loop

## For loop with List

In [147]:
for i in range(len(arrs)):
    print(arrs[i])

Python
c++
JS

## For loop with Set

### Adding value to set
## Add() 
#### setts.add('aa')

In [166]:
setts.add('aa')
setts.add('aabc')
for i in setts:
    print(i);
print(setts)

aabc
x
aa
a
y
z
{'aabc', 'x', 'aa', 'a', 'y', 'z'}

## For Loop in dictionary

#### Adding value to array by using  
# Append


### arrdeff.append({'x':1245,'y':23})

In [228]:
deff = {'x':12,'y':23.56}
arrdeff = [deff]
arrdeff.append({'x':1245,'y':23}) 
for i in range(len(arrdeff)):
    print(type(arrdeff[i].get('y')))
print(arrdeff)

<class 'float'>
<class 'int'>
[{'x': 12, 'y': 23.56}, {'x': 1245, 'y': 23}]